.log-in-form,
.sign-up-form {
  width: 700px;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 50px 0;
  position: relative;
  background-color: rgb(95, 140, 140);
  border-radius: 20px;
}

input {
  width: 300px;
}

.sign-up-text {
  position: absolute;
  bottom: -60px;
}

a:link {
  color: #ff0066;
  text-decoration: none;
}

a:visited {
  color: #ff0066;
}

a:hover {
  color: rgb(0, 255, 106);
  font-weight: bold;
  text-decoration: underline rgb(0, 255, 106);
}

a:active {
  background-color: black;
  font-style: italic;
}

.hidden {
  display: none;
}
