* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: linear-gradient(
    to top left,
    rgb(225, 225, 225),
    rgb(218, 218, 218)
  );
  color: rgb(25, 36, 36);
}

.form-name {
  font-weight: bold;
  font-size: 30px;
  color: rgb(95, 140, 140);
  text-transform: uppercase;
  /* letter-spacing: 7px; */
}

.log-in-form {
  width: 600px;
  margin: 35vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 50px 0;
  position: relative;
  /* background-color: rgb(95, 140, 140); */
  background: linear-gradient(
    to bottom right,
    rgb(128, 187, 158),
    rgb(95, 140, 140)
  );
  border-radius: 20px;
  padding-bottom: 60px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.sign-up-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 50px 0;
  /* background-color: rgb(95, 140, 140); */
  background: linear-gradient(
    to bottom right,
    rgb(128, 187, 158),
    rgb(95, 140, 140)
  );
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 70px 50px;
}

.form-name {
  position: absolute;
  top: -45px;
}

input {
  width: 300px;
  height: 25px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 1px 1px 1px 1px rgba(128, 128, 128, 0.634);
}

.sign-up-text {
  position: absolute;
  bottom: -60px;
}
.error-text {
  list-style: none;
  position: absolute;
  bottom: 5px;
  background-color: white;
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  font-size: 12px;
  font-style: inherit;
}

.error-btn {
  background-color: #ffffff;
  /* height: fit-content;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ff0066; */
  border: none;
  color: #ff0066;
  font-size: 12px;
}

.error-btn:hover {
  /* background-color: #ff0066;
  color: white; */
  cursor: pointer;
}

a:link {
  color: #ff0066;
  text-decoration: none;
}

a:visited {
  color: #ff0066;
}

a:hover {
  color: rgb(0, 255, 106);
  font-weight: bold;
  text-decoration: underline rgb(0, 255, 106);
}

a:active {
  background-color: black;
  font-style: italic;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.btn {
  opacity: 0;
  display: none;
}

.page-container {
  /* background-color: rgb(164, 195, 164); */
  padding: 5px 80px;
  height: 100vh;
  /* margin: 0 auto; */
  background: linear-gradient(
    to top left,
    rgb(225, 225, 225),
    rgb(218, 218, 218)
  );
  padding: 0 150px;
  padding-top: 30px;
}

.greet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greet-text {
  font-size: 28px;
  font-weight: bold;
}

.error-text-page {
  background-color: white;
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  font-size: 12px;
}

.error-btn-page {
  background-color: #ffffff;
  border: none;
  color: #ff0066;
  font-size: 12px;
}

.log-out {
  background-image: linear-gradient(to top left, #c62e2e, #ff585f);
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.log-out:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.4;
}

.account-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.transactions-container {
  margin-top: 30px;
  /* background-color: rgb(194, 187, 191); */
  background: none;

  width: 500px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.transaction-list {
  list-style: none;
}

.transaction-item {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 70px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(173, 172, 172);
}

.type-withdrawal,
.type-deposit {
  /* background-color: green; */
  padding: 5px 10px;
  border-radius: 555555px;
  color: white;
}

.date {
  color: gray;
}

.number {
  /* font-weight: bold; */
  font-size: 20px;
  color: rgb(25, 36, 36);
}

.type-deposit {
  /* background-image: linear-gradient(to top left, rgb(8, 147, 66), #9be15d); */
  background: linear-gradient(
    to bottom right,
    rgb(128, 187, 158),
    rgb(95, 140, 140)
  );
}

.type-withdrawal {
  background-image: linear-gradient(to top left, #c62e2e, #ff585f);
}

.sort-container {
  margin-top: 15px;
  /* position: absolute; */
  background: none;
  /* left: 25%; */
  /* bottom: 14%; */
  display: flex;
  gap: 20px;
}

.sort-plus,
.sort-minus {
  font-size: 16px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 10px;
  background: none;
  padding: 3px 15px;
  color: rgb(77, 77, 77);
}

.sort-plus:hover,
.sort-minus:hover {
  cursor: pointer;
  /* background-color: white; */
  transform: scale(1.1);
  transition: all 0.4;
}

.account-info {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  font-size: 18px;
  color: rgb(25, 36, 36);
  /* position: absolute; */
  /* bottom: 9%; */
}

.right-side {
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  width: 500px;
  height: 500px;
}

.form {
  width: 500px;
  height: 154px;
  border-radius: 15px;
  padding: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);

  /* align-items: start; */
}

.loan {
  background: linear-gradient(
    to bottom right,
    rgb(104, 158, 239),
    rgb(94, 119, 194)
  );
}

.transfer {
  background: linear-gradient(
    to bottom right,
    rgb(128, 187, 158),
    rgb(95, 140, 140)
  );
}

.delete {
  background-image: linear-gradient(to top left, #c62e2eab, #ff586095);
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.input-container-loan {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.input-username-transfer,
.input-number-transfer,
.input-number-loan,
.input-username-delete,
.input-password-delete {
  width: 175px;
}

.button {
  width: 40px;
  border-radius: 10px;
  border: 0.5px solid gray;
  color: rgb(25, 36, 36);
  background-color: rgba(255, 255, 255, 0.792);
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.4;
}

label {
  /* text-transform: uppercase; */
  font-weight: bold;
}
